<div class="page-login layout-full"
>

    <!-- Login Page -->
    <!--<div class="single-page-block-header">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-4">-->
    <!--<div class="logo">-->
    <!--<a href="javascript: history.back();"> <img-->
    <!--&lt;!&ndash;src="../assets/common/img/logo-inverse.png"&ndash;&gt;-->
    <!--alt="Clean UI Admin Template" />-->
    <!--</a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="single-page-block">
        <div class="single-page-block-inner effect-3d-element">
            <div class="blur-placeholder" style="
                width: 1311px;height: 368px;left:-405.5px;top: 10.5px;background-color: rgba(114, 165, 194, 0.71);!important;border-radius: 4%;">
            </div>
            <div class="single-page-block-form">
                <div class="brand">
                    <!--<img style="    margin-top: -45px;    margin-left: 130px;" class="brand-img"-->
                         <!--src="../../../content/images/moorish.png">-->
                </div>
                <p style="margin-left: 80px;font-size: larger;font-family: cursive;font-weight: bold;">Sign into your
                    pages account</p>

                <br/>
                <div class="col-md-8">
                    <div class="alert alert-danger" *ngIf="authenticationError"
                         jhiTranslate="login.messages.error.authentication">
                        <strong>Failed to sign in!</strong> Please check your credentials and try again.
                    </div>
                </div>
                <form class="form" role="form" (ngSubmit)="login()">
                    <div class="form-group">
                        <label for="username" jhiTranslate="global.form.username">Login</label>
                        <input type="text" class="form-control" name="username" id="username"
                               placeholder="{{'global.form.username.placeholder' | translate}}"
                               [(ngModel)]="username">
                    </div>
                    <div class="form-group">
                        <label for="password" jhiTranslate="login.form.password">Password</label>
                        <input type="password" class="form-control" name="password" id="password"
                               placeholder="{{'login.form.password.placeholder' | translate}}"
                               [(ngModel)]="password">
                    </div>
                    <div class="form-check">
                        <label class="form-check-label" for="rememberMe">
                            <input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe"
                                   [(ngModel)]="rememberMe" checked>
                            <span jhiTranslate="login.form.rememberme">Remember me</span>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>
                </form>
            </div>
        </div>
    </div>
    <div class="single-page-block-footer text-center">
        <ul class="list-unstyled list-inline ">
            <li style="color: #000; background-color: rgba(255, 255, 255, 0.66);"><strong>&copy;
                , All Right reserved</strong></li>
        </ul>
    </div>
    <!-- End Login Page -->

</div>
<!-- Page Scripts -->

<!--<div class="modal-header">-->
<!--<h4 class="modal-title" jhiTranslate="login.title">Sign in</h4>-->
<!--<button aria-label="Close" data-dismiss="modal" class="close" type="button" (click)="activeModal.dismiss('closed')"><span aria-hidden="true">x</span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="modal-body">-->
<!--<div class="row justify-content-center">-->
<!--<div class="col-md-8">-->
<!--<div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication">-->
<!--<strong>Failed to sign in!</strong> Please check your credentials and try again.-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<form class="form" role="form" (ngSubmit)="login()">-->
<!--<div class="form-group">-->
<!--<label for="username" jhiTranslate="global.form.username">Login</label>-->
<!--<input type="text" class="form-control" name="username" id="username" placeholder="{{'global.form.username.placeholder' | translate}}"-->
<!--[(ngModel)]="username">-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="password" jhiTranslate="login.form.password">Password</label>-->
<!--<input type="password" class="form-control" name="password" id="password" placeholder="{{'login.form.password.placeholder' | translate}}"-->
<!--[(ngModel)]="password">-->
<!--</div>-->
<!--<div class="form-check">-->
<!--<label class="form-check-label" for="rememberMe">-->
<!--<input class="form-check-input" type="checkbox" name="rememberMe" id="rememberMe" [(ngModel)]="rememberMe" checked>-->
<!--<span jhiTranslate="login.form.rememberme">Remember me</span>-->
<!--</label>-->
<!--</div>-->
<!--<button type="submit" class="btn btn-primary" jhiTranslate="login.form.button">Sign in</button>-->
<!--</form>-->
<!--<p></p>-->
<!--<div class="alert alert-warning">-->
<!--<a class="alert-link" (click)="requestResetPassword()" jhiTranslate="login.password.forgot">Did you forget your password?</a>-->
<!--</div>-->
<!--<div class="alert alert-warning">-->
<!--<span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>-->
<!--<a class="alert-link" (click)="register()" jhiTranslate="global.messages.info.register.link">Register a new account</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
